@import 'mixins';

.cloud-container {

  position: absolute;
  top: 109px;
  right: 0;
  left: 0;

  .cloud {
    height: 374px;
    width: 380px;
    margin: 0 16px;

  }
}

@include respond-to(tablet-landscape) {
  .cloud-container {
    top: 123px;
  }
}