@import 'variables';

.container {
  font-family: Galdeano, helvetica, arial, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: $sunrise-outer;
  overflow: hidden;

  .content {
    z-index: 100;
    position: relative;
  }



}

//$red: #f00;
//$white: #fff;
//
//.red-box {
//  background-color: $red;
//
//  .text {
//    color: $white;
//  }
//}