@import '../mixins';

.content {

  position: relative;

  .gold-border {
    margin: 0 auto;
    width: 300px;
    color: #333;
    font-size: 16px;
    overflow: hidden;
    background-color: #513717;

  }

  .gold-shine {
    position: fixed;
    top: 110px;
    bottom: 190px;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    @include linear-gradient-six(#513717, #9d6b2d, #fafef4, #9d6b2d, #9d6b2d, #513717);
    -webkit-clip-path: polygon(0 0, 0 800px, 10px 800px, 10px 0px, 790px 0px, 790px 790px, 10px 790px, 10px 800px, 800px 800px, 800px 0);

  }

  .black-border {
    margin: 10px;
    overflow: hidden;
    @include linear-gradient(#333333, #000000);
  }

  .tablet {
    margin: 24px;
    background-color: #af8050;
    @include radial-gradient(#f6d995, #af8050);
  }

}

@include respond-to(mobile-landscape) {
  .content {
    .gold-border {
      width: 460px;
    }
  }
}

@include respond-to(tablet) {
  .content {
    .gold-border {
      width: 748px;
    }
  }
}

@include respond-to(desktop) {
  .content {
    .gold-border {
      width: 800px;
      font-size: 60px;
    }
    .tablet {
      margin: 38px;
    }
  }
}