@import '../mixins';

.face-content {
  position: relative;
  z-index: 100;
  color: #333;
  padding: 0 4px 8px 4px;

  .star {
    display: none;
  }

  .header {
    margin-top: 8px;
  }

  .main-heading {
    font-size: 24px;
    overflow: hidden;
    display: inline-block;
  }

  .para,
  .secondary-title {
    margin-top: 8px;
    font-size: 18px;
  }

  .technology {
    margin-top: 6px;
  }

  .link {
    text-decoration: none;
  }

  .link:hover .text{
    color: #333;
  }

}

@include respond-to(tablet) {
  .face-content {
    padding: 0 8px 16px 8px;

    .star {
      display: inline-block;
      height: 28px;
      width: auto;
      float: left;
      margin: 0 4px 1px 4px;
    }

    .star.right {
      float: right;
    }

    .main-heading {
      margin-top: 12px;
      font-size: 32px;
    }

    .para,
    .secondary-title {
      font-size: 32px;
    }

    .para {
      margin-top: 16px;
    }

    .secondary-title {
      margin-top: 24px;
      display: inline-block;
    }

    .technology {
      margin-top: 12px;
      font-size: 24px;
    }

  }
}