@import '../mixins';

.tablet {

  position: relative;
  overflow: hidden;
  padding-bottom: 32px;

  .gold-border {
    margin: 0 3%;
    overflow: hidden;
    background-color: #513717;
    position: relative;
    z-index: 100;
  }

  .shine {
    position: absolute;
    margin-top: -120px;
    top: 0;
    right: 0;
    left: 0;
    height: 240px;
  }

  .gold-border-shine {
    @include linear-gradient-six(#513717, #9d6b2d, #fafef4, #9d6b2d, #9d6b2d, #513717);
  }

  .black-border {
    margin: 3%;
    overflow: hidden;
    position: relative;
    @include linear-gradient(#333333, #000000);
  }

  .face {
    margin: 6%;
    overflow: hidden;
    background-color: #af8050;
    position: relative;
  }

  .face-shine {
    @include radial-gradient(#f6d995, #af8050);
  }

  .background {
    position: absolute;
    right: 0;
    left: 0;
    background-color: #3A325D;
    background-repeat: repeat;
    background-position: center top;
  }

  .background-top {
    top: 0;
    height: 210px;
  }

  .background-bottom {
    top: 210px;
    bottom: 0;
  }

  .background-fade {
    height: 300px;
    position: fixed;
    top: 470px;
    @include linear-gradient(rgba(41,36,66,0), rgba(41,36,66,1));
  }

}

@include respond-to(tablet) {
  .tablet {
    .gold-border {
      margin: 0 6%;
    }
    .shine {
      height: 608px;
      margin-top: -304px;
    }

    .black-border {
      margin: 1.48%;
    }
    .face {
      margin: 2.75%;
    }
  }
}

@include respond-to(desktop) {
  .tablet {
    .gold-border {
      width: 800px;
      margin: 0 auto;
    }
    .shine {
      height: 734px;
      margin-top: -347px;
    }
    .background-top {
      background-image: url('/assets/waves-top.png');
    }
    .background-bottom {
      background-image: url('/assets/waves.png');
    }
  }

}