@import '../mixins';

.cloud-container {

  position: absolute;
  top: 109px;
  right: 0;
  left: 0;

  .cloud {
    height: 374px;
    width: 380px;
    margin: 0 0 0 -190px;
    position: absolute;

  }

  .right-cloud {
    display: none;
  }

}

@include respond-to(tablet) {
  .cloud-container {
    top: 123px;

    .cloud {
      position: static;
    }

    .left-cloud {
      float: left;
      margin-left: 2%;
    }

    .right-cloud {
      float: right;
      margin-right: 2%;
      display: inline-block;
    }
  }
}

@include respond-to(desktop) {
  .cloud-container {
    width: 1020px;
    margin: 0 auto;
  }
}